.screen18-container1 {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.screen18-thq-screen18-elm {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(247, 249, 252, 1);
}

.screen18-thq-depth1-frame0-elm {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.screen18-thq-depth2-frame0-elm {
    display: flex;
    width: 100%;
    padding: 12px 40px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(229, 232, 234, 1);
    border-style: solid;
    border-width: 0 0 1px;
    justify-content: space-between;
}

.screen18-thq-text-elm10 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 23px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth3-frame1-elm {
    gap: 32px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-end;
}

.screen18-thq-depth4-frame0-elm1 {
    gap: 36px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.screen18-thq-depth5-frame0-elm11 {
    width: 40px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen18-thq-text-elm11 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 14px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth5-frame0-elm12 {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}

.screen18-thq-text-elm12 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth4-frame2-elm1 {
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background-size: cover;
    background-image: url("../../assets/images/tq_axxqdx3cqk-n5oc-200h.png");
}

.screen18-thq-depth2-frame1-elm {
    display: flex;
    padding: 20px 160px;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    justify-content: center;
}

.screen18-thq-depth3-frame0-elm {
    width: 960px;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen18-thq-depth4-frame0-elm2 {
    gap: 12px;
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: space-between;
}

.screen18-thq-depth5-frame0-elm13 {
    width: 288px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen18-thq-text-elm13 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 32px;
    align-self: stretch;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth4-frame6-elm {
    display: flex;
    padding: 12px 16px;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.screen18-thq-depth5-frame0-elm14 {
    height: 48px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen18-thq-depth6-frame0-elm1 {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 12px;
}

.screen18-thq-depth7-frame0-elm {
    display: flex;
    padding: 0 0 0 16px;
    align-self: stretch;
    align-items: center;
    border-radius: 12px 0 0 12px;
    justify-content: center;
    background-color: rgba(232, 237, 242, 1);
}

.screen18-thq-depth8-frame0-elm {
    width: 24px;
    height: 24px;
    flex-grow: 1;
}

.screen18-thq-depth7-frame1-elm {
    display: flex;
    padding: 8px 16px 8px 8px;
    overflow: hidden;
    flex-grow: 1;
    align-self: stretch;
    align-items: center;
    border-radius: 0 12px 12px 0;
    background-color: rgba(232, 237, 242, 1);
}

.screen18-thq-text-elm14 {
    color: rgba(76, 119, 153, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth4-frame1-elm3 {
    gap: 16px;
    display: flex;
    padding: 8px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(247, 249, 252, 1);
}

.screen18-thq-depth5-frame0-elm15 {
    width: 56px;
    height: 56px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 28px;
    background-size: cover;
    background-image: url("../../assets/images/tq_uc4e4cdbzy-lvmj-200h.png");
}

.screen18-thq-depth5-frame1-elm1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.screen18-thq-depth6-frame0-elm2 {
    width: fit-content;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen18-thq-text-elm15 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 16px;
    align-self: flex-start;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-username-clickable {
    cursor: pointer;
}

.screen18-username-clickable:hover {
    text-decoration: underline;
}

.screen18-thq-depth6-frame1-elm1 {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
}

.screen18-thq-text-elm16 {
    color: rgba(76, 119, 153, 1);
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth4-frame2-elm2 {
    gap: 16px;
    display: flex;
    padding: 8px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(247, 249, 252, 1);
}

.screen18-thq-depth5-frame0-elm16 {
    width: 56px;
    height: 56px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 28px;
    background-size: cover;
    background-image: url("../../assets/images/tq_lmsrdu5xwm-8gq9-200h.png");
}

.screen18-thq-depth5-frame1-elm2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.screen18-thq-depth6-frame0-elm3 {
    width: 213px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen18-thq-text-elm17 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth6-frame1-elm2 {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
}

.screen18-thq-text-elm18 {
    color: rgba(76, 119, 153, 1);
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth4-frame3-elm {
    gap: 16px;
    display: flex;
    padding: 8px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(247, 249, 252, 1);
}

.screen18-thq-depth5-frame0-elm17 {
    width: 56px;
    height: 56px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 28px;
    background-size: cover;
    background-image: url("../../assets/images/tq_6tn6n4iht--vtkt-200h.png");
}

.screen18-thq-depth5-frame1-elm3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.screen18-thq-depth6-frame0-elm4 {
    width: 183px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen18-thq-text-elm19 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth6-frame1-elm3 {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
}

.screen18-thq-text-elm20 {
    color: rgba(76, 119, 153, 1);
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth4-frame4-elm {
    gap: 16px;
    display: flex;
    padding: 8px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(247, 249, 252, 1);
}

.screen18-thq-depth5-frame0-elm18 {
    width: 56px;
    height: 56px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 28px;
    background-size: cover;
    background-image: url("../../assets/images/tq_4qugh1dq25-gykp-200h.png");
}

.screen18-thq-depth5-frame1-elm4 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.screen18-thq-depth6-frame0-elm5 {
    width: 209px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen18-thq-text-elm21 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth6-frame1-elm4 {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
}

.screen18-thq-text-elm22 {
    color: rgba(76, 119, 153, 1);
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth4-frame5-elm {
    gap: 16px;
    display: flex;
    padding: 8px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(247, 249, 252, 1);
}

.screen18-thq-depth5-frame0-elm19 {
    width: 56px;
    height: 56px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 28px;
    background-size: cover;
    background-image: url("../../assets/images/tq_iam9e-lw4s-fx9-200h.png");
}

.screen18-thq-depth5-frame1-elm5 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.screen18-thq-depth6-frame0-elm6 {
    width: 242px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen18-thq-text-elm23 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-thq-depth6-frame1-elm5 {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
}

.screen18-thq-text-elm24 {
    color: rgba(76, 119, 153, 1);
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen18-link {
    display: contents;
}

.screen18-container2 {
    right: 50px;
    border: 1px solid #ffffff5c;
    bottom: 30px;
    display: flex;
    z-index: 22;
    position: fixed;
    box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
    min-height: auto;
    align-items: center;
    padding-top: 8px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    backdrop-filter: blur(6px);
    background-color: rgba(41, 41, 41, 0.41);
}

.screen18-icon1 {
    width: 24px;
    margin-right: 4px;
}

.screen18-text {
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}