.page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}

.screen19-thq-depth1-frame0-elm {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.screen19-thq-depth3-frame2-elm {
    gap: 16px;
    display: flex;
    align-items: center;
}

.screen19-thq-depth5-frame0-elm1 {
    width: 23px;
    height: 16px;
    align-self: stretch;
}

.screen19-thq-depth4-frame1-elm1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.screen19-thq-text-elm10 {
    color: rgba(12, 20, 28, 1);
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 23px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth3-frame1-elm {
    gap: 32px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-end;
}

.screen19-thq-depth5-frame0-elm2 {
    width: 288px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen19-thq-text-elm11 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 32px;
    align-self: stretch;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth4-frame1-elm2 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.screen19-thq-depth5-frame0-elm3 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.screen19-thq-depth6-frame0-elm1 {
    gap: 8px;
    height: 89px;
    display: flex;
    padding: 10px 0;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(249, 249, 249, 1);
}

.screen19-thq-depth7-frame0-elm1 {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgba(234, 237, 242, 1);
}

.screen19-thq-depth8-frame0-elm1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.screen19-thq-depth9-frame0-elm1 {
    width: 20px;
    height: 20px;
    flex-grow: 1;
}

.screen19-thq-depth7-frame1-elm1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.screen19-thq-text-elm12 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth6-frame1-elm1 {
    gap: 8px;
    height: 89px;
    display: flex;
    padding: 10px 0;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(249, 249, 249, 1);
}

.screen19-thq-depth7-frame0-elm2 {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgba(234, 237, 242, 1);
}

.screen19-thq-depth8-frame0-elm2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.screen19-thq-depth9-frame0-elm2 {
    width: 20px;
    height: 20px;
    flex-grow: 1;
}

.screen19-thq-depth7-frame1-elm2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.screen19-thq-text-elm13 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth6-frame2-elm {
    gap: 8px;
    height: 89px;
    display: flex;
    padding: 10px 0;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(249, 249, 249, 1);
}

.screen19-thq-depth7-frame0-elm3 {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgba(234, 237, 242, 1);
}

.screen19-thq-depth8-frame0-elm3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.screen19-thq-depth9-frame0-elm3 {
    width: 20px;
    height: 20px;
    flex-grow: 1;
}

.screen19-thq-depth7-frame1-elm3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.screen19-thq-text-elm14 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth4-frame2-elm {
    display: flex;
    padding: 16px 16px 8px;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}

.screen19-thq-text-elm15 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 18px;
    align-self: stretch;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 23px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth4-frame3-elm {
    gap: 12px;
    display: flex;
    padding: 16px;
    align-self: stretch;
    align-items: flex-end;
    flex-shrink: 0;
}

.screen19-thq-depth5-frame0-elm4 {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background-size: cover;
    background-image: url("../../assets/images/tq_-ael1kd3c4-lq1-200h.png");
}

.screen19-thq-depth5-frame1-elm1 {
    gap: 4px;
    width: auto;
    max-width: 80%;
    display: flex;
    /* flex-grow: 1; REMOVED */
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen19-thq-depth6-frame0-elm2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.screen19-thq-text-elm16 {
    color: rgba(91, 114, 137, 1);
    height: auto;
    font-size: 13px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth6-frame1-elm2 {
    width: auto;
    height: auto;
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(234, 237, 242, 1);
}

.screen19-thq-text-elm17 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth4-frame4-elm {
    gap: 12px;
    display: flex;
    padding: 16px;
    align-self: stretch;
    align-items: flex-end;
    flex-shrink: 0;
    justify-content: flex-end;
}

.screen19-thq-depth5-frame0-elm5 {
    gap: 4px;
    width: auto;
    max-width: 80%;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    flex-direction: column;
}

.screen19-thq-depth6-frame0-elm3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.chat-messages-scroll-area {
    width: 100%;
}

.screen19-thq-text-elm21 {
    color: rgba(91, 114, 137, 1);
    height: auto;
    font-size: 13px;
    font-style: Regular;
    text-align: right;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth6-frame1-elm3 {
    width: auto;
    height: auto;
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(196, 216, 234, 1);
}

.screen19-thq-text-elm22 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth5-frame1-elm2 {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background-size: cover;
    background-image: url("../../assets/images/tq_o70nkgsljp-mcui-200h.png");
}

.screen19-thq-depth4-frame5-elm {
    gap: 12px;
    display: flex;
    padding: 16px;
    align-self: stretch;
    align-items: flex-end;
    flex-shrink: 0;
}

.screen19-thq-depth5-frame0-elm6 {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background-size: cover;
    background-image: url("../../assets/images/tq_cipk-skkpl-hxu7-200h.png");
}

.screen19-thq-depth5-frame1-elm3 {
    gap: 4px;
    width: 876px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen19-thq-depth6-frame0-elm4 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.screen19-thq-text-elm26 {
    color: rgba(91, 114, 137, 1);
    height: auto;
    font-size: 13px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth6-frame1-elm4 {
    width: 360px;
    height: 81px;
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(234, 237, 242, 1);
}

.screen19-thq-text-elm27 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth4-frame6-elm {
    gap: 12px;
    display: flex;
    padding: 16px;
    align-self: stretch;
    align-items: flex-end;
    flex-shrink: 0;
    justify-content: flex-end;
}

.screen19-thq-depth5-frame0-elm7 {
    gap: 4px;
    width: 876px;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    flex-shrink: 0;
    flex-direction: column;
}

.screen19-thq-depth6-frame0-elm5 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.screen19-thq-text-elm30 {
    color: rgba(91, 114, 137, 1);
    height: auto;
    font-size: 13px;
    font-style: Regular;
    text-align: right;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth6-frame1-elm5 {
    width: 360px;
    height: 71px;
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(196, 216, 234, 1);
}

.screen19-thq-text-elm31 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth4-frame7-elm {
    display: flex;
    padding: 16px 16px 8px;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.screen19-thq-depth4-frame10-elm {
    position: sticky;
    bottom: 0;
    z-index: 10;
    background: #f9f9f9;
    gap: 12px;
    display: flex;
    padding: 12px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
}

.screen19-thq-depth5-frame0-elm8 {
    width: 928px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.screen19-thq-depth6-frame0-elm6 {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 12px;
}

.screen19-thq-depth7-frame0-elm4 {
    display: flex;
    padding: 8px 8px 8px 16px;
    flex-grow: 1;
    align-items: center;
    border-radius: 12px 0 0 12px;
    background-color: rgba(234, 237, 242, 1);
}

.screen19-thq-text-elm34 {
    color: rgba(91, 114, 137, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-thq-depth7-frame1-elm4 {
    display: flex;
    padding: 0 8px 0 0;
    align-self: stretch;
    align-items: center;
    border-radius: 0 12px 12px 0;
    justify-content: center;
    background-color: rgba(234, 237, 242, 1);
}

.screen19-thq-depth8-frame0-elm4 {
    gap: 16px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.screen19-thq-depth9-frame0-elm4 {
    gap: 4px;
    display: flex;
    align-items: center;
}

.screen19-thq-depth10-frame0-elm1 {
    display: flex;
    padding: 6px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.screen19-thq-depth11-frame0-elm {
    width: 20px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}

.screen19-thq-depth12-frame0-elm {
    width: 20px;
    height: 20px;
    flex-grow: 1;
    align-self: stretch;
}

.screen19-thq-depth9-frame1-elm {
    width: 84px;
    height: 32px;
    display: flex;
    padding: 0 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(196, 216, 234, 1);
}

.screen19-thq-depth10-frame0-elm2 {
    gap: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.screen19-thq-text-elm35 {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.screen19-link {
    display: contents;
}

.screen19-container2 {
    right: 50px;
    border: 1px solid #ffffff5c;
    bottom: 30px;
    display: flex;
    z-index: 22;
    position: fixed;
    box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
    min-height: auto;
    align-items: center;
    padding-top: 8px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    backdrop-filter: blur(6px);
    background-color: rgba(41, 41, 41, 0.41);
}

.screen19-icon1 {
    width: 24px;
    margin-right: 4px;
}

.screen19-text7 {
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

/* --------------- */

.chat-page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background: #f9f9f9;
}

.chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    bottom: 5px;
}

.chat-footer {
    position: sticky;
    bottom: 5px;
    z-index: 10;
    background: #f9f9f9;
}

.click-username {
    cursor: pointer;
    width: fit-content;
}

.click-username:hover {
    text-decoration: underline;
}